* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root {
    --space-sm: 8px;
    --space-med: 16px;
    --space-lr: 18px;
    --normal-radius: 10px;
    --weight-400: 400;
    --weight-600: 600;
    --weight-700: 700;
    --text-color: #5f574e;
    --line-color: #e4ded8;
    --side-titles-color: #854632;
}

body {
    background-color: #f3e6d8;
    font-family: "Outfit", sans-serif; 
}

.container {
    width: 100%;
    height: 100%;
    background-color: #f3e6d8;
    display: grid;
    place-items: center;
}

main {
    background-color: #ffffff;
    width: 55%;
    padding: 30px;
    border-radius: 10px;
    margin: 40px 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

main:hover {
    transform: translateY(-3px);
}

/* font-family: "Young Serif", serif; */
/* font-family: "Outfit", sans-serif; */


main > * {
    margin-bottom: var(--space-lr);
}

.image {
    width: 100%;
    border-radius: var(--normal-radius);
}

.title {
    font-size: 2rem;
    color: #302d2c;
}

.y-serif {
    font-family: "Young Serif" , serif;    
    font-weight: var(--weight-400);
}

.p-description {
    font-weight: var(--weight-400);
    color: var(--text-color);
    font-size: 1rem;
}

.prep {
    background-color: #fff5fa;
    padding: var(--space-lr);
    border-radius: var(--normal-radius);
}

.prep > *, .ingredients > * , .nut > *{
    margin-bottom: var(--space-med);
}

.h3-prep {
    color: #7b284f;
    font-weight: var(--weight-700);
}

ul , ol{
    list-style: none;
}

.ul-prep {
    color: var(--text-color);
}

.ul-prep > li , .ul-ingredients > li , .ol-instruction > li{
    margin-bottom: var(--space-med);
    position: relative;
    padding-left: 35px;
    font-weight: var(--weight-400);
}

.ul-prep > li::before , .ul-ingredients > li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #854632;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin-left: var(--space-sm);
}

.sp-first-word {
    font-weight: var(--weight-600);
    
}

.h2-ingredients , .h2-instruction , .h2-nut {
    color: var(--side-titles-color);
    font-size: 2rem;
}

.ul-ingredients {
    color: var(--text-color);
}

hr {
    background-color: var(--line-color);
    border: none;
    height: 1px;
    margin: var(--space-lr) 0;
}

.h2-instruction {
    margin-bottom: var(--space-lr);
}

.ol-instruction {
    list-style-position: inside;
    list-style-type: none;
    counter-reset: count;
    color: var(--text-color);
}

.ol-instruction > li {
    counter-increment: count;
    position: relative;
    margin-bottom: var(--space-sm);
}

.ol-instruction > li::before {
    content: counter(count) ". ";
    position: absolute;
    left: 0;
    color: var(--side-titles-color);
    font-weight: var(--weight-700);
}

.p-desc {
    color: var(--text-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    color: var(--side-titles-color);
    font-weight: var(--weight-600);
}

tr {
    border-bottom: var(--line-color) 1px solid;
}

td:first-child {
    color: var(--text-color);
    font-weight: var(--weight-400);
}


@media (min-width: 300px) and (max-width: 500px) {
    *{
        font-size: 14px;
    }
    h1, h2 ,h3 {
        font-size: 20px;
    }   

    main {
        width: 100%;
        margin-top: 0px;
    }
    .attribution {
        font-size: 12px;
    }
}
